body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  overflow: hidden;
}


.map {
  width:  100vw;
  height: 100vh;
  position: relative;
}

.location-marker {
  font-size: 2rem;
  color: red;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader img {
  width: 400px;
}

.location-info {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0px;
}
